@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Helvetica;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 ,h6 {
  font-family: 'Poppins', Georgia;
}

.container #fullVid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container .content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .content a {
  display: block;
  width: fit-content;
  border: none;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
  cursor: pointer;
  font-size: 14px;
  background: #000;
  text-align: center;
  text-decoration: none;
}

.container .content a:hover {
  background: #ddd;
  color: black;
}